﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокировано";
}

<hgroup>
    <h1 class="text-danger">Заблокировн.</h1>
    <h2 class="text-danger">Этот аккаунт был заблокирован, попробуйте обратиться позднее.</h2>
</hgroup>
