﻿@model ExampleWebApplication.Models.PreciptViewModel
@{
    ViewBag.Title = "Осаждение";
}

<div class="row">
    <div class="col-md-6">
        <h2>Осаждение</h2>
    </div>
    <div class="col-md-6">
        <h2 id="analysesTitle"></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Precipt", "Precipt", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @id = "preciptForm" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.File)
                <input type="file" name="File" id="uploadFile" />
                <img id="loadingInitApi" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
            </div>
            <div id="preciptFormWithoutFile" style="display: none;">
                <label>Я хочу отправить:</label>
                <div class="radio">
                    <label>Открытый текст</label>
                    <input type="radio" name="SelMode" value="open" checked />
                </div>
                <div class="radio">
                    <label>Зашифрованный текст</label>
                    <input type="radio" name="SelMode" value="crypt" />
                </div>
                <div class="radio">
                    <label>Подписанный текст</label>
                    <input type="radio" name="SelMode" value="sign" />
                </div>
                <div class="radio">
                    <label>Подписанный и зашифрованный текст</label>
                    <input type="radio" name="SelMode" value="signCrypt" />
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Message)
                    @Html.TextBoxFor(m => m.Message, new { @class = "form-control", @id = "message" })

                    <label>Количество символов в строке:</label><label id="currentLength"></label><br />
                    @Html.LabelFor(m => m.ReceiverEmail)
                    @Html.TextBoxFor(m => m.ReceiverEmail, new { @class = "form-control", @id = "receiver" })
                </div>
                <div class="form-group" id="passwordDiv" style="display: none;">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password" })
                    @Html.LabelFor(m => m.FileKey)
                    <input type="file" name="FileKey" id="fileKey" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Загрузить" />
                    <img id="loading" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <div id="analysis" style="display: none;"></div>
        <img id="img-preview" class="img-preview" style="background-color:white" />
        <div>
            <button id="continueBtn" onclick="contBtn()" type="button" style="display:none; margin-top:15px">Продолжить</button>
        </div>
        <p id="errorPrecipt"></p>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/SiteScripts/PreciptScripts.js")
}

