﻿@model ExampleWebApplication.Models.SendMailViewModel

@using (Ajax.BeginForm("SendMail", "Home",
    new AjaxOptions
    {
        UpdateTargetId = "analysis",
        HttpMethod = "POST",
        LoadingElementId = "loadingMail",
        LoadingElementDuration = 1000
    },
    new
    {
        enctype = "multipart/form-data",
        @class = "form-horizontal"
    }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SenderEmail)
        @Html.TextBoxFor(m => m.SenderEmail, new { @class = "form-control", @style = "max-width:100%" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReceiverEmail)
        @Html.TextBoxFor(m => m.ReceiverEmail, new { @class = "form-control", @style = "max-width:100%" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Subject)
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "Введите тему письма", @style = "max-width:100%" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TextLetter)
        @Html.TextAreaFor(m => m.TextLetter, new { @class = "form-control", @placeholder = "Введите сообщение. Пожалуйста, не указывайте в письме никаких конфиденциальных данных. Данное приложение не предназначено для электронной переписки.", @style = "max-width:100%; min-height: 79px;max-height:323px;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FileName)
        @Html.TextBoxFor(m => m.FileName, new { @class = "form-control", @placeholder = "Введите имя файла", @style = "max-width:100%" })
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" />
        <img id="loadingMail" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
    </div>
}

@Html.ActionLink("Или скачайте файл и отправьте самостоятельно", "DownloadFile", "Precipt")
