﻿html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(Images/bridge.png) center no-repeat;
    background-size: 100% 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-preview {
    display:none;
    width: 300px;
    height:300px;
}

.border-carousel {
    border: solid 6px #fff;
    outline: solid 6px #888;
}
