﻿@model ExampleWebApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Публичный ключ";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h2>Ваш ключ:</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>Публичный ключ:</dt>
        <dd>
            @Model.PublicKeyXml
        </dd>
    </dl>
</div>
