﻿@model StegoSVG.Utils.AnalysesDataWrapper

<input type="hidden" id="maxMessageCount" value="@Model.MaxMessageLength" />
<div>Количество кривых Безье:        @Model.BezierCount</div>
<div>Максимальная длина сообщения:  @Model.MaxMessageLength</div>
