﻿@{
    ViewBag.Title = "Главная страница";
}

<div class="container text-center">
    <h1 class="h3" style="margin-top: 20px; margin-bottom: 5px;">StegoSVG</h1>
    <hr />
        <div id="carousel" class="carousel slide border-carousel" data-ride="carousel" style="display: inline-block;">
            <!-- Индикаторы -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/Content/images/1.png" alt="...">
   
                </div>
                <div class="item">
                    <img src="/Content/images/c-1.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Прячьте сообщения в изображения</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="/Content/images/c-2.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Подписывайте свои сообщения</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="/Content/images/c-3.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Делитесь результатами по почте</h3>
                    </div>
                </div>
            </div>
            <!-- Элементы управления -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        </div>
</div>