﻿@{
    ViewBag.Title = "Подтверждение электронной почты";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Благодарим Вас за подтверждение адреса. Пожалуйста, @Html.ActionLink("перейдите по ссылке для авторизации.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
