﻿@model ExampleWebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:90%" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "max-width:90%" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "max-width:90%" })
            </div>
            <div class="form-group" id="btnDiv">
                <input type="button" class="btn btn-default" id="generateKeyBtn" value="Сгенировать ключи" />
            </div>
            <div id="registerContiniue" style="display:none">
                <div class="form-group">
                    @Html.LabelFor(m => m.PublicKeyXml)
                    @Html.TextBoxFor(m => m.PublicKeyXml, new { @class = "form-control", @id = "publicKey", @style = "max-width:90%", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PrivateKeyXml)
                    @Html.TextBoxFor(m => m.PrivateKeyXml, new { @class = "form-control", @id = "privateKey", @style = "max-width:90%", @readonly = "readonly" })
                    <a id="saveKeyAsFile">Сохранить приватный ключ как файл.</a>
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.SavePrivate)
                    @Html.LabelFor(m => m.SavePrivate)
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Зарегистрироваться" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        Ваш публичный ключ будет сохранен в базе данных и будет доступен всем пользователям. Приватный ключ вы можете сохранить в файле или в нашей базе. В случае хранения ключа в базе он будет зашифрован на основе Вашего пароля.
        <br>Обратите внимание, что часть ключей находится за пределами поля, учтите это при копировании.
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/SiteScripts/SiteScripts.js")
}
