﻿@model ExampleWebApplication.Models.ExtractViewModel
@{
    ViewBag.Title = "Extract";
}
<div class="row">
    <div class="col-md-7">
        <h2>Извлечение</h2>
    </div>
    <div class="col-md-5">
        <h2 id="gettingData" style="display:none">Полученные данные</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        @using (Html.BeginForm("ExtractMessage", "Extract", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form0" }))
        {
        <div class="form-group">
            @Html.LabelFor(m => m.File)
            <input type="file" name="File" id="uploadFile" />
            <img id="loadingInitApi" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
        </div>
            <div id="extractFormWithoutFile" style="display: none;">
                <label>Я получил:</label>
                <div class="radio">
                    <label>Открытый текст</label>
                    <input type="radio" name="SelMode" value="open" checked />
                </div>
                <div class="radio">
                    <label>Зашифрованный текст</label>
                    <input type="radio" name="SelMode" value="crypt" />
                </div>
                <div class="radio">
                    <label>Подписанный текст</label>
                    <input type="radio" name="SelMode" value="sign" />
                </div>
                <div class="radio">
                    <label>Подписанный и зашифрованный текст</label>
                    <input type="radio" name="SelMode" value="signCrypt" />
                </div>

                <div class="form-group" id="senderEmailDiv" style="display:none">
                    @Html.LabelFor(m => m.SenderEmail)
                    @Html.TextBoxFor(m => m.SenderEmail, new { @class = "form-control",@id="sender" })
                </div>
                <div class="form-group" id="passwordDiv" style="display:none;">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control",@id="password" })
                    @Html.LabelFor(m => m.FileKey)
                    <input type="file" name="FileKey" id="uploadKey" /><br>
                </div>
                <div class="form-group">
                    <input type="submit" value="Загрузить" />
                    <img id="loading" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-5">
        <div id="results" style="display: none;word-break: break-all;"></div>
        <img id="img-preview" class="img-preview" style="background-color:white" />
        <p id="errorPrecipt"></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/SiteScripts/ExtractScripts.js")
}
