﻿@model ExampleWebApplication.Models.UnSignMessage

<div>Подпись верна?         @Model.Verify</div>
<div>Полученное сообщение:  @Model.Message</div>
<div>Отправитель сообщения: @Model.MessageAuthor</div>
<div>Время подписания:      @Model.DateSign</div>
<div>Файл был изменен?      @Model.IsChangeFile</div>